body {
    background-color: #222 !important;
    color: white !important;

}

p {
    font-size: 14px !important;
}

textarea {
    resize: none;
}

.jumbotron, .panel {
    background-color: #2e2e2e !important;
}

.jumbotron-chat-area {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: -15px;
}

.chat-row {
    margin-top: -40px !important;
}

.chat-bubble {
    display:flex !important;
}

@media only screen and (min-width: 1200px) {
    .chat-bubble  {
        width: 600px;
        margin-bottom: 20px;
        padding: 20px;
        text-align: left;
        font-weight: 600;
        color: #fff;
        border-radius: 24px;
        word-wrap: break-word;
    }
}
/* Phone */
@media only screen and (max-width: 640px) and (min-width: 200px) {
    .chat-bubble {
        width: 150px;
        margin-bottom: 20px;
        padding: 20px;
        text-align: left;
        font-weight: 600;
        color: #fff;
        border-radius: 24px;
        word-wrap: break-word;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 640px) {
    .chat-bubble {
        width: 300px;
        margin-bottom: 20px;
        padding: 20px;
        text-align: left;
        font-weight: 600;
        color: #fff;
        border-radius: 24px;
        word-wrap: break-word;
    }
}

.msg-detail {
    font-size: .9em;
    text-align: center;
    padding-bottom: 4px;
}

.chat-sender {
    background-color: #337ab7;
    margin-left: 5px;

}

.chat-self {
    background-color: #3d5264;
    margin-left: auto;
    margin-right: 5px;
}

.panel-chat {
    /*margin-left: -25px !important;*/
   // align-content: right;

}

.panel-chat-body {
    overflow-y: scroll;
    height: 500px;
}

.panel-conv {
}

#msg-field {
    border-radius: 5px;
    margin-right: 2px;
}
/*
.chat-input-group {
    margin-top: -15px;
    margin-left: -25px;
}*/

.input-group-addon-msgtimer {
    width: 200px;
    margin-left: 200px !important;
}

.dropdown-text {
    margin: 0 auto;
}

#logged-in-user a {
    color: grey !important;
    text-decoration: none !important;
}

#username-field {
    width: 15%;
}
/* 2e2e2e */